<div class="flash-logout">
    <%= flash[:logout] %>
</div>
<div class="flash-error">
    <%= flash[:error] %>
</div>

<% if false %>
<div class="form users-form">
    <div class="form-body">
        <% if @error_message %>
            <div class="form-error">
            <%= @error_message %>
            </div>
        <% end %>

        <%= form_with url: "/auth/login" do |form| %>
            <%= form.label "担当者番号", class: "form-num" %>
            <%= form.number_field :employee_num %>
            <%= form.label "パスワード", class: "form-pass" %>
            <%= form.password_field :password %>
            <%= form.submit "ログイン" %>
        <% end %>
    </div>
</div>
<% else %>
<div class="maintenance-item">
    <div class="maintenance-message">
        ただいまメンテナンス中です。<br>
        5分以内に終了する予定です。
    </div>
    <img src="/assets/maintenance.png" id="maintenance">
</div>
<% end %>