<%= flash[:notice] %>

<div class="form users-form">
    <div class="form-body">
        <%= form_with url: "/pages/change_password" do |form| %>
            <%= form.label "新しいパスワード", class:"new-password" %>
            <%= form.password_field :new_password %>
            <%= form.label "新しいパスワード(確認用)", class:"new-password" %>
            <%= form.password_field :re_new_password %>
            <%= form.submit "変更する" %>
            <!--<input type="password" name="new_password">
            <p>新しいパスワード(確認用)</p>
            <input type="password" name="re_new_password">
            <input type="submit" value="変更">-->
        <% end %>
    </div>
</div>