<div class="flash-changed">
    <%= flash[:changed] %>
</div>
<div class="flash-error">
    <%= flash[:error] %>
</div>

<%= javascript_include_tag "home" %>

<% if @login_user.user_id == 999 || @login_user.user_id == 9999 %>
    <h3 style="color: red">ゲストモードではパスワードの変更はできません</h3>
<% else %>
    <div class="form users-form">
        <div class="form-body">
            <%= form_with url: "/pages/change_password" do |form| %>
                <%= form.label "新しいパスワード", class:"new-password" %>
                <%= form.password_field :new_password %>
                <%= form.label "新しいパスワード(確認用)", class:"new-password" %>
                <%= form.password_field :re_new_password %>
                <%= form.submit "変更する" %>
            <% end %>
        </div>
    </div>
<% end %>