<%= javascript_include_tag "home_manager" %>

<div class="headline_div">
    <h2 class="headline">　<%= @month_info[:next_month] %>月シフト編集　</h2>
</div>

<div id="not_edit" style="text-align: center;"><h2>20日以降に編集可能です</h2></div>

<%
    next_month = @month_info[:next_month].to_i
    this_month = @month_info[:this_month].to_i
    next_end_month_day = @month_info[:next_end_month_day].to_i
    this_end_month_day = @month_info[:this_end_month_day].to_i
    weeks = @month_info[:weeks]
    this_year = @month_info[:this_year].to_i
    next_year = @month_info[:next_year].to_i
%>
<div class="scroll">
    <div class="table-item">
        <table class="manage-shift" cellspacing="0">
            <tr>
                <th rowspan="2" id="month"><%= @month_info[:next_month] %>月</th>
                <% for i in 1..next_end_month_day %>
                    <td class="day"><%= i %></td>
                <% end %>
            </tr>
            <tr>
                <% for i in 1..next_end_month_day %>
                    <% week = Date.new(next_year, next_month, i) %>
                    <% if week.wday == 0 %>
                        <td class="week sunday"><%= weeks[week.wday] %></td>
                    <% elsif week.wday == 6 %>
                        <td class="week saturday"><%= weeks[week.wday] %></td>
                    <% else %>
                        <td class="week"><%= weeks[week.wday] %></td>
                    <% end %>
                <% end %>
                <% @shift_all_next_month.each do |shift_one_next_month| %>
                    <%
                    user_id = shift_one_next_month.user_id
                    user_name = @user_id_name[user_id.to_s.to_sym]
                    if (user_id == 3 || user_id == 13) && @login_user.user_id == 1
                        next
                    end
                    %>
                    <tr>
                        <th class="employee_name" id=<%= user_id %>><%= user_name %>
                        <% for i in 1..next_end_month_day %>
                        <% day_sym = ("day#{i}").to_sym %>
                        
                        <td id="<%= user_name %>_<%= i %>">
                            <div class="edit-dropdown">
                                <div class="select">
                                    <% if shift_one_next_month[day_sym] == "rh" %>
                                        <span class="edit-shift-time"><%= "定休" %></span>
                                    <% elsif shift_one_next_month[day_sym] == "h" %>
                                        <span class="edit-shift-time"><%= "休" %></span>
                                    <% else %>
                                        <span class="edit-shift-time"><%= shift_one_next_month[day_sym] %></span>
                                    <% end %>
                                </div>
                                <% if @month_info[:today].to_i >= 20 || @login_user.user_id == 9999 %>
                                <input type="hidden" name="edit-select-time">
                                <ul class="edit-dropdown-menu">
                                    <% if user_id <= 4 || user_id == 999 %>
                                        <li value="×">×</li>
                                        <li value="○">○</li>
                                        <li value="△">△</li>
                                    <% else %>
                                        <li value="×">×</li>
                                        <li value="14:30">14:30</li>
                                        <li value="15:00">15:00</li>
                                        <li value="15:30">15:30</li>
                                        <li value="16:00">16:00</li>
                                        <li value="16:30">16:30</li>
                                        <li value="17:00">17:00</li>
                                        <li value="17:30">17:30</li>
                                        <li value="18:00">18:00</li>
                                        <li value="18:30">18:30</li>
                                        <li value="19:00">19:00</li>
                                        <li value="19:30">19:30</li>
                                    <% end %>
                                </ul>
                                <% end %>
                            </div>
                        </td>
                        
                        <% end %>
                    </tr>
                <% end %>

            </tr>
        </table>
    </div>
</div>

<div class="save">
    <button type="button" id="save-btn">一時保存する</button>
</div>

<div id="saveModal" class="save-modal">
    <div class="save-modal-wrap">
        <div class="save-modal-bg"></div>
        <div class="save-modal-box">
            <div class="inner">
                <div class="modal-message">
                    一時保存しますか？<br>
                    <% if @login_user.user_id == 9999 %>
                        <br>
                        <span class="notice" style="color:red">※ゲストモードでは保存されません</span>
                    <% end %>
                </div>
                <div class="save-modal-close"><button type="button" id="save-cancel">キャンセル</button></div>
                <div class="save-modal-close"><button type="button" id="save-ok">保存する</button></div>
            </div>
        </div>
    </div>
</div>

<div id="savedModal" class="saved-modal">
    <div class="saved-modal-wrap">
        <div class="saved-modal-bg"></div>
        <div class="saved-modal-box">
            <div class="inner">
                <div class="close-item">
                    <i class="fas fa-times close"></i>
                </div>
                <div class="modal-message">
                    シフトを保存しました！<br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="confirm">
    <button type="button" id="confirm-btn"><%= @edit_or_confirm %>する</button>
</div>

<div id="confirmModal" class="confirm-modal">
    <div class="confirm-modal-wrap">
        <div class="confirm-modal-bg"></div>
        <div class="confirm-modal-box">
            <div class="inner">
                <div class="modal-message">
                    <%= @edit_or_confirm_modal %><br>
                    <span class="notice">※月末まで修正可能です</span>
                    <% if @login_user.user_id == 9999 %>
                        <br>
                        <span class="notice" style="color:red">※ゲストモードでは保存されません</span>
                    <% end %>
                </div>
                <div class="confirm-modal-close"><button type="button" id="confirm-cancel">キャンセル</button></div>
                <div class="confirm-modal-close"><button type="button" id="confirm-ok"><%= @edit_or_confirm %>する</button></div>
            </div>
        </div>
    </div>
</div>

<div id="confirmedModal" class="confirmed-modal">
    <div class="confirmed-modal-wrap">
        <div class="confirmed-modal-bg"></div>
        <div class="confirmed-modal-box">
            <div class="inner">
                <div class="close-item">
                    <i class="fas fa-times close"></i>
                </div>
                <div class="modal-message">
                    シフトを<%= @edit_or_confirm %>しました！<br>
                    <span class="notice"><%= @reload_message %></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="headline_div">
    <h2 class="headline" id="export-headline-next">　<%= @month_info[:next_month] %>月シフト表　</h2>
</div>

<div class="scroll-confirmed">
    <table class="manage-shift" id="export-table-next" cellspacing="0">
        <thead>
        <tr>
            <th rowspan="2" id="month"><%= @month_info[:next_month] %>月</th>
            <% for i in 1..next_end_month_day %>
                <td class="day"><%= i %></td>
            <% end %>
        </tr>
        <tr>
            <% for i in 1..next_end_month_day %>
                <% week = Date.new(next_year, next_month, i) %>
                <% if week.wday == 0 %>
                    <td class="week sunday"><%= weeks[week.wday] %></td>
                <% elsif week.wday == 6 %>
                    <td class="week saturday"><%= weeks[week.wday] %></td>
                <% else %>
                    <td class="week"><%= weeks[week.wday] %></td>
                <% end %>
            <% end %>
        </tr>
        <tr>
            <% @shift_all_next_month.each do |shift_one_next_month| %>
                <%
                user_id = shift_one_next_month.user_id
                user_name = @user_id_name[user_id.to_s.to_sym]
                if (user_id == 3 || user_id == 13) && @login_user.user_id == 1
                    next
                end
                %>
                <tr>
                    <th class="confirmed_employee_name" id=<%= user_id %>><%= user_name %>
                    <% for i in 1..next_end_month_day %>
                        <% day_sym = ("day#{i}").to_sym %>
                        <% if shift_one_next_month[day_sym] == nil || shift_one_next_month[day_sym] == "×" || shift_one_next_month[day_sym] == "" || shift_one_next_month[day_sym] == "h" %>
                            <td id="<%= user_id %>_<%= i %>"><%= "休" %></td>
                        <% elsif shift_one_next_month[day_sym] == "rh" %>
                            <td id="<%= user_id %>_<%= i %>"><%= "定休" %></td>
                        <% else %>
                            <td id="<%= user_id %>_<%= i %>"><%= shift_one_next_month[day_sym] %></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>

        </tr>
    </table>
</div>

<div id="export-btn-next">
    <button type="button">Excel出力</button>
</div>

<div class="headline_div">
    <h2 class="headline">　<%= @month_info[:this_month] %>月シフト表　</h2>
</div>

<div class="scroll-determine">
    <table class="manage-shift" id="export-table-this" cellspacing="0">
        <thead>
        <tr>
            <th rowspan="2" id="month"><%= @month_info[:this_month] %>月</th>
            <% for i in 1..this_end_month_day %>
                <td class="day"><%= i %></td>
            <% end %>
        </tr>
        <tr>
            <% for i in 1..this_end_month_day %>
                <% week = Date.new(this_year, this_month, i) %>
                <% if week.wday == 0 %>
                    <td class="week sunday"><%= weeks[week.wday] %></td>
                <% elsif week.wday == 6 %>
                    <td class="week saturday"><%= weeks[week.wday] %></td>
                <% else %>
                    <td class="week"><%= weeks[week.wday] %></td>
                <% end %>
            <% end %>
        </tr>
        <tr>
            <% @shift_all_this_month.each do |shift_one_this_month| %>
                <%
                user_id = shift_one_this_month.user_id
                user_name = @user_id_name[user_id.to_s.to_sym]
                %>
                <tr>
                    <th class="confirmed_employee_name" id=<%= user_id %>><%= user_name %>
                    <% for i in 1..this_end_month_day %>
                    <% day_sym = ("day#{i}").to_sym %>
                        <% if shift_one_this_month[day_sym] == nil || shift_one_this_month[day_sym] == "×" || shift_one_this_month[day_sym] == "" || shift_one_this_month[day_sym] == "h" %>
                            <td id="<%= user_id %>_<%= i %>"><%= "休" %></td>
                        <% elsif shift_one_this_month[day_sym] == "rh" %>
                            <td id="<%= user_id %>_<%= i %>"><%= "定休" %></td>
                        <% else %>
                            <td id="<%= user_id %>_<%= i %>"><%= shift_one_this_month[day_sym] %></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>

        </tr>
    </table>
</div>

<div id="export-btn-this">
    <button type="button">Excel出力</button>
</div>