<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="wrap">
      <div id="wrapper">
        <header>
            <img src="/assets/logo.png" id="logo">
            <!--<span id="app-title">シフト共有・管理</span>-->
            
            <% if @login_user %>
              <br>
              <div class="toggle-item">
                <div id="menu-toggle">
                  <i class="fas fa-bars"></i>
                </div>
              </div>
              <br>
              <ul class="nav">
                  <li class="nav_menu">
                    <%= link_to("ホーム", "/pages/home") %>
                  </li>
                  <li class="nav_menu">
                  <% if @login_user.user_id == 1 || @login_user.user_id == 9999 %>
                    <%= link_to("使い方", "/pages/usage_manager") %>
                  <% else %>
                    <%= link_to("使い方", "/pages/usage") %>
                  <% end %>
                  </li>
                  <li class="nav_menu">
                    <%= link_to("ご意見",  "/pages/inquiry") %>
                  </li>
                  <li class="nav_menu">
                      <%= link_to("パスワード変更",  "/pages/change_password") %>
                  </li>
                  <li class="nav_menu">
                      <%= link_to("ログアウト", "/auth/logout") %>
                  </li>
              </ul>
            <% end %>
        </header>

        
        <% if @login_user %>
          <div class="login_now_item">
            <p class="login_now" id="<%= @login_user[:name] %>">ログイン中：<%= @login_user[:name] %>さん</p>
          </div>
        <% end %>
        
        <%= yield %>

      </div>
      <footer>
          <div id="copyright">©︎2020 Songju Pae</div>
      </footer>
    </div>
  </body>
</html>
